body {
  background-color: aliceblue;
}
.parent {
    width: 350px;
    min-height: 400px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    margin-left: 550px;
    padding: 20px !important;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.parent:hover {
  border: 1px solid #001cd3;
}
.child {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-shadow: 4px 4px 6px;
  animation: video 1s reverse;
}
@keyframes video {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleY(2);
  }
}
video {
width: 350px;
margin-top: 100px;
}
